@import url('../../../components/footerLogIn/footer.css');

@font-face {
    font-family: bespoke-sans-bold;
    src: url(../assets/BespokeSans_Complete/Fonts/OTF/BespokeSans-Bold.otf);
}

@font-face {
    font-family: bespoke-sans;
    src: url(../assets/BespokeSans_Complete/Fonts/OTFBespokeSans-Regular.otf);
}

body {
    background-color: #f7eed9 !important;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
}


main {
    /* height: 100%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.logo_imagen {
    /* width: 450px;
    height: 450px;
    margin: 100px; */
    width: 75%;
    height: auto;
    margin: auto;
}


.form1 {
    border-radius: 25px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 24px 24px;
    margin-top: 16px;
    flex-direction: column;
    gap: 25px;
    /* width: 500px; */
    width: 60%;
    height: auto;
}

.form-floating {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

}

form a {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: black;
    text-decoration: none;
}

form a:hover{
    text-decoration: underline;
}

input, label{
    font-family: "Manrope";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: black;
}

.btn-iniciar {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: white;
    border: 3px solid #c2b1a5;
    color: black;
    transition: background-color 0.4s;
    
}

.btn-iniciar:hover {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: medium;
    font-style: normal;
    background-color: #4a4a4a;
    border: 3px solid white;
    color: white;
    
}

.btn-crear {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    background-color: #4a4a4a;
    color: white;
    border: none;
    transition: background-color 0.4s;
}


.btn-crear:hover {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    background-color: #d5a86d;
    color: black;
    
}

#contraseña {
    display: flex;
    flex-direction: column;
}

#correoElectronico {
    display: flex;
    flex-direction: column;
}


/* Tablet (810px y menor) */
@media screen and (max-width: 810px) {
    main {
        flex-direction: column;
        padding: 10px;
    }

    .logo_imagen {
        width: 300px;
        height: 300px;
        margin: 50px;
    }

    .form1 {
        width: 90%;
        padding: 15px;
    }

    .form-floating {
        width: 90%;
    }

    button {
        width: 80%;
    }
}

/* Móvil (480px y menor) */
@media screen and (max-width: 480px) {
    .logo_imagen {
        width: 200px;
        height: 200px;
        margin: 25px;
    }

    .form1 {
        width: 95%;
        padding: 10px;
        gap: 15px;
    }

    .form-floating {
        width: 95%;
    }

    button {
        width: 90%;
    }
}

/* Para pantallas muy pequeñas (320px y menor) */
@media screen and (max-width: 320px) {
    .logo_imagen {
        width: 150px;
        height: 150px;
        margin: 15px;
    }
}


