
    
            <ul class="nav-container">
                <li>
                    <a class="nav-link" href="../../pages/sobreNosotros/sobreNosotros.html">Sobre Nosotros</a>
                </li>
                <li>
                    <a class="nav-link" href="../../pages/contactanos/contactanos.html">Contáctanos</a>
                </li>
            </ul>
        </div>

        <div>
            <ul class="nav-container">
                <li>
                    <a class="nav-link" href="../../pages/politicaDePrivacidad/avisoPrivacidad.html" target="_blank">Política de Privacidad</a>
                </li>
                <li>
                    <a class="nav-link" href="../../pages/terminosDeUso/terminosCondiciones.html" target="_blank">Términos de Uso</a>
                </li>
            </ul>
        </div>

        <div class="copyright-container">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/017/784/920/small_2x/copyrights-icon-on-transparent-background-free-png.png" alt="copyright-logo">
            <p id="copyright">Wanderlust 2024</p>
        </div>
     