
<nav class="navbar" >
  <div class="log-in-container">
    <a href="../../pages/feed/feed.html"><img id="wander-logo" src="../../assets/perfil/LogoNavbar.svg" alt="Logo-Wander"></a>
    <div class="input-container" >
      <input id="Adondevamos" type="text" placeholder="¿A dónde vamos?">
    </div>
  </div>
  
  <div class="logos-container" >
    
    <div  class="menu-icon">
      <img id="perfil-logo" src="../../assets/perfil/notification.png" alt="perfil">
      <ul class="dropdown-menu" >
      <li><a href="../../pages/Perfil/viajero.html">Johannes ha comentado</a></li>
      <li><a href="#">Johannes ha reaccionado</a></li>
      
      </ul>
    </div>

    <a href="../../pages/chat/chat.html"><img id="groups-logo" src="../../assets/perfil/MessageLogo.png" alt="message"></a>
    <div  class="menu-icon"  >
      <img id="perfil-logo" src="../../assets/perfil/PerfilLogo.png" alt="perfil">
      <ul class="dropdown-menu" >
      <li><a href="../../pages/Perfil/viajero.html">Perfil</a></li>
      <li><a href="#">Configuraciones avanzadas</a></li>
      <li><a href="/home.html">Cerrar sesión</a></li>
      </ul>
    </div>
  </div>
</nav>