<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../navbarSesionIniciada/navbarSesionIniciada.css">
  <title>Wanderlust</title>
</head>
<body>
  
  <header>
    <nav class="navbar" >
      <div>
        <img id="wander-logo" src="../../assets/perfil/LogoNavbar.svg" alt="Logo-Wander">
      </div>
      
      <div>
        <input type="text" placeholder="¿A dónde vamos?" >
      </div>
      <div>
        <a href="../../pages/feed/feed.html"><img id="home-logo" src="../../assets/perfil/HomeLogo.png" alt="home"></a>
      </div>
      <div>
        <a href="../../pages/chat/chat.html"><img id="groups-logo" src="../../assets/perfil/MessageLogo.png" alt="message"></a>
      </div>
      <div>
        <a href="../../pages/Perfil/viajero.html"><img id="perfil-logo" src="../../assets/perfil/PerfilLogo.png" alt="perfil"></a>
      </div>
    </nav>
  </header>

</body>
</html>