/* Estilos navbar */
@import url('../../pages/Perfil/perfil-CSS/bespoke-sans.css');


.navbar {
  background-color: #b68c6e !important;
  height: 150px;
  max-width:none;
}

input{
  border-radius: 25px;
  border-color: #4a4a4a;
  width: 520px;
  text-align: center;
  font-family: 'BespokeSans-LightItalic';
  font-size:small;
}

#wander-logo{
  height: 150px;
  width: 170px;
  border-radius: 100px;
  padding-right: 5px;
  padding-top: 10px;
}

#homelogo{
  height: 50px;
  width: 55px;
  padding-left: 25px;
}

#groups-logo{
  height: 50px;
  width: 55px;
}

#perfil-logo{
  height: 50px;
  width: 75px;
  padding-bottom: 0%;
  padding-right: 25px;
}

