@import url('../perfil-CSS/bespoke-sans.css');
@import url('../../../components/footerLogIn/footer.css');
@import url('../perfil-CSS/movil.css');
@import url('../../../components/navbarSesionIniciada/navbarSesionIniciada.css');


/*color claro #f7eed9
/*color crema #c2b1a5
/*color intermedio #b68c6e
/*color tipo dorado #d5a86d
/*color oscuro #4a4a4a



/*Estilos generales*/

body{
    background-color: #f7eed9 !important;
}

h1{
    font-family: 'BespokeSans-ExtraboldItalic';
    font-size: 1rem;
    font-weight: bold; 
}

main{
    /* background-color: #f7eed9 !important; */
    padding: 70px;
}

h3{
    font-family: 'BespokeSans-MediumItalic' !important;
    font-size: 5rem;
    text-align: left;
    color: black;
}

/*Aquí empieza los estilos de la card sticky del viajero*/

.custom-bg{
    background-color: #4a4a4a;
}

#photo-user{
    width: 130px;
    height: 200px;
    border-radius: 10px;
    align-self: center;
    padding-top: 20px;
}


.card-title-profile{
    font-family: 'BespokeSans-ExtraboldItalic';
    font-size: 20px;
    font-weight: bold;
}

.card-text-profile{
    font-family: "Inter";
    font-size: 15px;
    text-align: justify;
}

.button-container{
    display: flex;
    justify-content: center;
}

.button{
    font-family: "Inter";
    font-size: 15px;
    font-weight: bold;
    background-color: #fff;
    border: 2px solid #d5a86d;
    border-radius: 30px;
    color: #333;
    padding: 5px 20px;
    text-align: center;
    display: flex;
    margin: 3px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button:hover {
    background-color:#c2b1a5;
    color: white;
    font-family: "Inter";
    font-weight: bold;
}

/*Aquí empiezan los estilos de las cards de las publicaciones*/
/* Publicaciones varias fotos*/
/* d-block: imagenes*/
/*carousel-inner: contenedor de imagenes*/



.ticket-image { 
    flex: 3; 
    overflow: hidden;
} 

.carousel-inner { 
    display: flex; 
} 

.carousel-item { 
    width: 100%; 
    height: 100%; 
} 

.carousel-item img { 
    width: 100%; 
    height: 350px;
    border-radius: 20px; 
}

/* Publicacion una foto*/
/*Newcard*/
.container{
    position: relative;
    background-color: white;
    width: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 20px;
}

.top_data{
    position: relative;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid black;
    object-fit: cover;
    margin-right: 5px;
}

.top_data svg{
    position: absolute;
    right: 5px;
    top: 10px;
}

.top_data svg path{
    fill: #000;
}

.profile_name{
    font-weight: bold;
    font-size: 15px;
    color: #000;
}

.time {
    font-size: 12px;
    color: #919191;
}

.privacidad {
    font-size: 12px;
    color: #919191;
}

.post_description{
    width: 100%;
    padding: 0px 10px 10px 60px;
    font-size: 15px;
    color: #000;
}

.post{
    width: 100%;
    display: flex;
    padding: 0px 10px 10px 10px;
}

.options{
    width: 44px;
    padding: 0px 10px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}

.number{
    font-size: 11px;
}

.img_post{
    cursor: pointer;
    width: calc(100% - 44px);
    border-radius: 10px;
}

.heart_icon{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    right: 40%;
    fill: #e010b3;
    display: none;
    opacity: 0;
    animation: heart 2s ease;
}

.likes, .coments, .save{
    text-align: center;
}

.likes .active_icon{
    fill: #e010b3;
}

.active_icon{
    display: none;
}

.active{
    display: inline-block;
}

svg:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: all .3s ease;
}

@keyframes heart {
    0%{
        opacity: 0;
        top: 100%;
        left: 40%;
    }

    50%{
        opacity: 1;
        top: 50%;
        left: 40%;
    }

    75%{
        opacity: 1;
        top: 50%;
        left: 40%;
        transform: scale(1.2) rotateY(180deg);
    }

    100%{
        opacity: 1;
        top: 50%;
        left: 40%;
        transform: scale(1.2) rotateY(180deg);
        opacity: 0;
    }
}



/* Estilos footer */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 24px 0px;
}

.copyright-container p {
    margin: 0;
    line-height: 12px;
    font-size: 0.75rem;
    font-family: "Manrope", sans-serif;
    font-weight: 200;
    font-style: normal;
}

