@media (max-width: 480px){

    /* Estilos generales para móvil */
    body {
        font-size: 10px;
        margin: 10px;
    }
    
    /*estilos navbar*/
    .navbar {
        background-color: #b68c6e !important;
        height: 150px;
        margin: 0%;
        align-items: center;
        justify-content: space-evenly;
        padding: 0%

    }
      
    .log-in-container{
        display: flex;
        align-items: center;
        padding: 0px;
        margin-top: -35px;
        margin-bottom: 10px;
    }
      
    .input-container{
        margin-left: -25px;
        display: flex;
        align-items: center;
        padding: 0%;
        
    }
      
    input{
        
        border-radius: 25px;
        border-color: #4a4a4a;
        width: 220px;
        text-align: center;
        font-family: 'BespokeSans-LightItalic';
        font-size:small;
    }
      
      
      
      
    .logos-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: -45px;
        margin-left: 85px;
    }
      
    #wander-logo{
        height: 150px;
        width: 170px;
        padding-right: 5px;
        padding-top: 15px;
    }
      
    #noti-logo{
        height: 50px;
        width: 55px;
        margin-right: 35px;
    }
      
    #groups-logo{
        height: 50px;
        width: 55px;
        margin-right: 35px;
    }
      
    #perfil-logo{
        height: 50px;
        width: 55px;
       
    }
      
      
    .menu-icon {
        position: relative;
        display: inline;
    }
      
      
    .dropdown-menu {
        display: none;
        position: relative;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        
    }
      
    .dropdown-menu li {
        list-style: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: smaller;
    }
      
    .dropdown-menu li a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
      
    .dropdown-menu li a:hover {
        background-color: #f1f1f1;
    }
      
    .menu-icon:hover .dropdown-menu {
        display: block;
    }

    
    h1 {
        font-family: 'BespokeSans-ExtraboldItalic';
        font-size: 1.5rem; /* Ajuste para móvil */
        font-weight: bold; 
        padding-top: 15px;
    }
    
    main {
        background-color: #f7eed9 !important;
        padding: 25px; /* Ajuste para móvil */
    }
    
    h3 {
        font-family: 'BespokeSans-MediumItalic' !important;
        font-size: 1rem; /* Ajuste para móvil */
        text-align: left;
        color: black;
    }
    
    /* Estilos de la card sticky del viajero */
    .custom-bg {
        background-color: #4a4a4a;
    }
    
    #photo-user {
        width: 100px; /* Ajuste para móvil */
        height: 150px; /* Ajuste para móvil */
        border-radius: 10px;
        align-self: center;
        padding-top: 10px; /* Ajuste para móvil */
    }
    
    .card-title-profile {
        font-family: 'BespokeSans-ExtraboldItalic';
        font-size: 18px; /* Ajuste para móvil */
        font-weight: bold;
    }
    
    .card-text-profile {
        font-family: "Inter";
        font-size: 14px; /* Ajuste para móvil */
        text-align: justify;
    }
    
    .button-container {
        display: flex;
        justify-content: center;
    }
    
    .button {
        font-family: "Inter";
        font-size: 14px; /* Ajuste para móvil */
        font-weight: bold;
        background-color: #fff;
        border: 2px solid #d5a86d;
        border-radius: 30px;
        color: #333;
        padding: 5px 15px; /* Ajuste para móvil */
        text-align: center;
        display: flex;
        margin: 3px 2px;
        cursor: pointer;
        transition-duration: 0.4s;
    }
    
    .button:hover {
        background-color: #c2b1a5;
        color: white;
        font-family: "Inter";
        font-weight: bold;
    }
    
    /* Estilos de las cards de las publicaciones */
    .ticket-card { 
        display: flex; 
        flex-direction: column; /* Ajuste para móvil */
        align-items: center; 
        border-radius: 15px; 
        overflow: hidden; 
        width: 100%; 
        max-width: 480px;
        max-height: 390px; /* Ajuste para móvil */
        margin: auto;
        padding-bottom: 15px; /* Ajuste para móvil */
    } 
    
    .ticket-image { 
        width: 100%; /* Ajuste para móvil */
        overflow: hidden;
        max-height: 390px;
    } 
    
    .ticket-content { 
        width: 100%; /* Ajuste para móvil */
        padding: 15px; /* Ajuste para móvil */
        border-left: none; /* Ajuste para móvil */
        border-top: 4px dotted #f7eed9; /* Ajuste para móvil */
        border-radius: 15px;
        background-color: #4a4a4a; 
        height: auto; /* Ajuste para móvil */
    } 
    
    .ticket-content h6 { 
        font-family: 'BespokeSans-ExtraboldItalic';
        font-size: 18px; /* Ajuste para móvil */
        color: white;
        font-weight: bold;
        margin-bottom: 10px; 
    } 
    
    .ticket-content p { 
        font-family: "Inter";
        font-size: 14px; /* Ajuste para móvil */
        color: white;
        text-align: justify;
        margin: 0; 
    } 
    
    .carousel-inner { 
        display: flex; 
        flex-direction: column; /* Ajuste para móvil */
    } 
    
    .carousel-item { 
        width: 100%; 
        height: auto; /* Ajuste para móvil */
    } 
    
    .carousel-item img { 
        width: 100%; 
        height: auto; /* Ajuste para móvil */
        border-radius: 25px; 
    }
    
    /* Publicación un comentario */
    .ticket-single { 
        background-color: #4a4a4a; 
        display: flex; 
        flex-direction: column; /* Ajuste para móvil */
        align-items: center; 
        border-radius: 15px; 
        overflow: hidden;  
        max-width: 100%; /* Ajuste para móvil */
        height: auto; /* Ajuste para móvil */
        margin-bottom: 15px;
        padding-bottom: 35px; /* Ajuste para móvil */
    } 
    
    .single-image { 
        width: 100%; /* Ajuste para móvil */
        overflow: hidden;
    } 
    
    .single-content { 
        width: 100%; /* Ajuste para móvil */
        padding: 25px; 
        padding-bottom: 15px;/* Ajuste para móvil */
        border-left: none; /* Ajuste para móvil */
        border-radius: 15px;
        background-color: #4a4a4a; 
        height: auto; /* Ajuste para móvil */
    } 
    
    .single-content h6 { 
        font-family: 'BespokeSans-ExtraboldItalic';
        font-size: 18px; /* Ajuste para móvil */
        color: white;
        font-weight: bold;
        margin-bottom: 10px; 
    } 
    
    .single-content p { 
        font-family: "Inter";
        font-size: 14px; /* Ajuste para móvil */
        color: white;
        text-align: justify;
        margin: 0; 
    } 
    
    .single-inner { 
        display: flex; 
        flex-direction: column; /* Ajuste para móvil */
    } 
    
    .single-item { 
        width: 100%; 
        height: auto; /* Ajuste para móvil */
    } 
    
    .single-item img { 
        width: 80px;
        height: 80px; /* Ajuste para móvil */
        height: auto; /* Ajuste para móvil */
        border-radius: 80px; /* Ajuste para móvil */
        padding: 15px;
    }
    
    
    
    
    }/*media*/