/* @import url('../perfil-CSS/bespoke-sans.css'); */
@import url('../perfil-CSS/amigo.css');
@import url('../perfil-CSS/movil.css'); 
@import url('../../../components/navbarSesionIniciada/navbarSesionIniciada.css');


/*color claro #f7eed9
/*color crema #c2b1a5
/*color intermedio #b68c6e
/*color tipo dorado #d5a86d
/*color oscuro #4a4a4a


/* Estilos de la caja de publicación*/
#container-next{
    padding-bottom: 15px;

}

#open-form-btn {
    margin-bottom: 15px;
    transition: box-shadow 0.6s ;
}

#open-form-btn:hover {
    
    box-shadow: 0 0 15px #4a4a4a;
}

.compact-form {
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: left;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050; /* Mayor que el z-index de Bootstrap navbar */
}

.modal.hidden {
    display: none;
}

.modal-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, 
form textarea, 
form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #c2b1a5;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

form button:hover {
    background-color: #4a4a4a;
}

.hidden {
    display: none;
}

#star-rating {
    display: flex;
    flex-direction: row-reverse; /* Invertir el flujo visual */
    justify-content: flex-start;
}

#star-rating input {
    display: none; /* Oculta los botones de radio */
}

#star-rating label {
    font-size: 24px;
    color: #ccc; /* Color de estrellas no seleccionadas */
    cursor: pointer;
    padding: 0 5px;
}

#star-rating input:checked ~ label {
    color: #ffc107; /* Estrellas seleccionadas */
}

#star-rating label:hover,
#star-rating label:hover ~ label {
    color: #ffc107; /* Cambia el color al pasar el ratón */
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea, form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    font-weight: bold;
    width: 100%;
    padding: 10px;
    background-color: #4a4a4a;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.6s;
}

form button:hover {
    background-color: #c2b1a5;
    color: black;
}


.iconoPublicacion{
   
   display: flex;
   align-items: center;
   padding-bottom: 5px;
}

.box-publi{ 
    width: 100%; 
    max-width: 710px; 
    margin: auto; 
    padding: 20px; 
    
    border: 1px solid #ccc; 
    border-radius: 20px; 
    background-color: #f9f9f9; 
} 

.box-publi h2{ 
    font-family: 'BespokeSans-MediumItalic';
    font-size: 15px;
    text-align: left;
    color: black;;
    text-align: left; 
    margin-bottom: 10px; 
} 

.box-publi form{ 
    display: flex; 
    flex-direction: column; 
} 

.box-publi textarea{ 
    width: 100%; 
    height: 100px; 
    padding: 10px; 
    margin-bottom: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 16px; 
    resize: none; 
} 

.button-publi{
    font-family: "Inter";
    font-size: 15px;
    font-weight: bold;
    background-color: #fff;
    border: 2px solid #d5a86d;
    border-radius: 30px;
    color: #333;
    padding: 5px 20px;
    text-align: center;
    display: flex;
    margin: 3px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button-publi:hover {
    background-color:#c2b1a5;
    color: white;
    font-family: "Inter";
    font-weight: bold;
}

.bd-placeholder-img{
    width: 110px; 
    height: 96px;
}