@import url('../../../components/footerLogIn/footer.css');
@import url('../../Perfil/perfil-CSS/bespoke-sans.css');

@font-face {
    font-family: bespoke-sans-bold;
    src: url(../../../assets/fonts/BespokeSans_Complete/Fonts/OTF/BespokeSans-Bold.otf);
}

@font-face {
    font-family: bespoke-sans;
    src: url(../../../assets/BespokeSans_Complete/Fonts/OTFBespokeSans-Regular.otf);
}

h2{
    font-family: 'BespokeSans-MediumItalic' !important;
    font-size: 5rem;
    text-align: left;
    color: black;
}

body {
    background-color: #f7eed9 !important;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
}


main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.logo_imagen {
    width: 75%;
    height: auto;
    margin: auto;
}


#registro {
    background-color: white;
    margin: 24px;
    padding: 24px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    width: 50%;
    height: auto;
}

#register {
    background-color: #4a4a4a;
    color: white;
    width: 190px;
    transition: background-color 0.6s;
    font-weight: bold;
}

#register:hover{
    background-color: #c2b1a5;
    color:white
    
}

#cuenta {
    border: 4px solid #b68c6e;
    background-color: white;
    color: black;
    width: 190px;
    transition: background-color 0.6s;
    
}

#cuenta:hover{
    background-color: #b68c6e;
    color: white;
}

#division_boton {
   gap: 100px;
   display: flex;
   justify-content: space-between;
}


.main-content{
  flex: 1;
  margin-bottom: 20px;
}

/* Títulos y párrafos */
h1 {
    font-family: "bespoke-sans-bold";
    font-size: 2.25rem;
    text-align: center;
    color: black;
  }

h2 {
    font-family: "bespoke-sans-regular";
    font-size: 1.25rem;
    text-align: center;
    font-weight: bold;
    color: black;
  }

p, input, label{
    font-family: "Manrope";
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: black;
}


/* Tablet (810px y menor) */
@media screen and (max-width: 810px) {
    main {
        flex-direction: column;
        padding: 10px;
    }

    .logo_imagen {
        width: 300px;
        height: 300px;
        margin: 50px;
    }

    form {
        width: 90%;
        padding: 15px;
    }

    .form-floating {
        width: 90%;
    }

    button {
        width: 80%;
    }

    #division_boton {
        gap: 50px;
        display: flex;
        justify-content: space-between;
     }
}

/* Móvil (480px y menor) */
@media screen and (max-width: 480px) {
    .logo_imagen {
        width: 200px;
        height: 200px;
        margin: 25px;
    }

    .form1 {
        width: 95%;
        padding: 10px;
        gap: 15px;
    }

    .form-floating {
        width: 95%;
    }

    button {
        width: 90%;
    }

    #division_boton {
        gap: 15px;
        display: flex;
        justify-content: space-between;
     }
}

/* Para pantallas muy pequeñas (320px y menor) */
@media screen and (max-width: 320px) {
    .logo_imagen {
        width: 150px;
        height: 150px;
        margin: 15px;
    }

    #division_boton {
        gap: 10px;
        display: flex;
        justify-content: space-between;
     }
}
