.navbar-container
{  
padding: 5px 20px 5px 20px;
background-image: radial-gradient(at 48.9415657957144% 42.54975011993949%, hsla(25.000000000000007, 33.02752293577982%, 57.25490196078431%, 1) 0%, hsla(25.000000000000007, 33.02752293577982%, 57.25490196078431%, 0) 100%), radial-gradient(at 46.91505894979346% 84.83285991552954%, hsla(25.333333333333314, 27.607361963190186%, 68.03921568627452%, 1) 0%, hsla(25.333333333333314, 27.607361963190186%, 68.03921568627452%, 0) 100%), radial-gradient(at 10.933981823600881% 38.798706654720675%, hsla(25.000000000000007, 33.02752293577982%, 57.25490196078431%, 1) 0%, hsla(25.000000000000007, 33.02752293577982%, 57.25490196078431%, 0) 100%), radial-gradient(at 49.777719885059504% 41.184605657851314%, hsla(25.333333333333314, 27.607361963190186%, 68.03921568627452%, 1) 0%, hsla(25.333333333333314, 27.607361963190186%, 68.03921568627452%, 0) 100%), radial-gradient(at 72.45907116841161% 13.666137151782465%, hsla(25.000000000000007, 33.02752293577982%, 57.25490196078431%, 1) 0%, hsla(25.000000000000007, 33.02752293577982%, 57.25490196078431%, 0) 100%), radial-gradient(at 43.176414736790925% 77.21879322323642%, hsla(25.333333333333314, 27.607361963190186%, 68.03921568627452%, 1) 0%, hsla(25.333333333333314, 27.607361963190186%, 68.03921568627452%, 0) 100%), radial-gradient(at 28.603941300954403% 70.8590364181733%, hsla(25.000000000000007, 33.02752293577982%, 57.25490196078431%, 1) 0%, hsla(25.000000000000007, 33.02752293577982%, 57.25490196078431%, 0) 100%), radial-gradient(at 45.36957530770147% 90.04017981715147%, hsla(25.333333333333314, 27.607361963190186%, 68.03921568627452%, 1) 0%, hsla(25.333333333333314, 27.607361963190186%, 68.03921568627452%, 0) 100%), radial-gradient(at 8.71832818222078% 55.48741905359908%, hsla(25.000000000000007, 33.02752293577982%, 57.25490196078431%, 1) 0%, hsla(25.000000000000007, 33.02752293577982%, 57.25490196078431%, 0) 100%), radial-gradient(at 33.3662526684619% 32.661063556285484%, hsla(25.333333333333314, 27.607361963190186%, 68.03921568627452%, 1) 0%, hsla(25.333333333333314, 27.607361963190186%, 68.03921568627452%, 0) 100%);
}

.navbar-logo img
{
    height: 80px;
    
}
.navbar-links
{   
    display: flex;
    justify-content: center;
}
.btn-container button
{
    border-color: #2e2525;
    background-color: #2e2525 !important;
    font-size: 1.5rem;
    color: #f7eed9;
}

.btn-container button:hover
{
  color:#b3b1aa;
}