<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <script defer  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  </head>
<body>
    <nav class="navbar navbar-expand-sm  navbar-container navbar-dark ">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      
            </button>

            <span class="navbar-logo ">
                <img  src="../../assets/images/sobreNosotros/logo-wanderlust-sinfondo.png" alt="logo" srcset="">
            </span>
                
            <div class="collapse navbar-collapse navbar-links " id="navbarTogglerDemo03">
              <p style="margin-bottom :0px; font-size: 3rem; font-family: bespoke-sans-bold; color:#423636 ;" >WANDERLUST</p>             
            </div>
            <span class="btn-container ">
                <a  href="/pages/contactanos/contactanos.html">
                <button style="outline-color: #1b1a1a;" class="btn btn-lg btn-contacto" type="button">Contacto</button>
                </a>
            </span>
          </nav>
</body>
</html>