<div class="navbar-logo ">
  <a href="/home.html">
    <img  src="../../assets/images/sobreNosotros/Logo_brown.svg" alt="logo_wanderlust" srcset="">
  </a>
</div>
    
<div class="collapse navbar-collapse navbar-links " id="navbarTogglerDemo03">
  <!-- <p style="margin-bottom :0px; font-size: 3rem; font-family: bespoke-sans-bold; color:#423636 ;" >WANDERLUST</p> -->
   <div class="navbar-title">
      <h1 id="wanderlust-name">WANDERLUST</h1>  
   </div>
</div>

<div class="btn-container">
    <a  href="../../pages/Login/login.html">
    <button  class="btn rounded-pill" type="button">
      <div>Acceder</div>
    </button>
    </a>
</div>