@import url('/css/bespoke-sans.css');


/* Estilos para el logo */
.logo-img {
    height: 70px;
    width: 70px;
}
  
/* Estilos para la barra de navegación */
.navbar {
    background-color: #b68c6e !important;
}
  
.navbar-nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

/*Estilos generales*/

h1{
    font-family: 'BespokeSans-ExtraboldItalic';
    font-size: 1rem;
    font-weight: bold; 
}

main{
    background-color: #f7eed9 !important;
    padding: 70px;
}

h3{
    font-family: 'BespokeSans-MediumItalic';
    font-size: 5rem;
    text-align: left;
    color: black;
}

/*Aquí empieza los estilos de la card sticky del viajero*/

.card-img-top{
    max-width: 120px;
    max-height: min-content;
    align-self: center;
    padding-top: 20px;
}
.card-title-profile{
    font-family: 'BespokeSans-ExtraboldItalic';
    font-size: 20px;
    font-weight: bold;
}

.card-text-profile{
    font-family: "Inter";
    font-size: 15px;
    text-align: justify;
}

.button-container{
    display: flex;
  justify-content: center;
}

.button{
    font-family: "Inter";
    font-size: 15px;
    font-weight: bold;
    background-color: #fff;
    border: 2px solid #d5a86d;
    border-radius: 30px;
    color: #333;
    padding: 5px 20px;
    text-align: center;
    display: flex;
    margin: 3px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button:hover {
    background-color:#c2b1a5;
    color: white;
    font-family: "Inter";
    font-weight: bold;
}

/*Aquí empiezan los estilos de las cards de las publicaciones*/

.card.custom-card .card-img-overlay {
    opacity: 0;
    transition: opacity 0.3s ease;
}
  
.card.custom-card:hover .card-img-overlay,
  .card.custom-card.show-text .card-img-overlay {
    opacity: 1;
}
  
.card.custom-card {
    position: relative;
    overflow: hidden;
}


.card-title{
    font-family: 'BespokeSans-ExtraboldItalic';
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}

.card-text{
    font-family: "Inter";
    font-size: 1rem;
    text-align: justify;
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    
}

.card-text-time{
    font-family: "Inter";
    font-size: 1rem;
}


