/* Definición de fuentes */
@font-face {
  font-family: bespoke-sans-bold;
  src: url(../assets/BespokeSans_Complete/Fonts/OTF/BespokeSans-Bold.otf);
}

@font-face {
  font-family: bespoke-sans;
  src: url(../assets/BespokeSans_Complete/Fonts/OTF/BespokeSans-Regular.otf);
}

body {
  background-color: #f7eed9 !important;
  overflow-y: scroll;
  height: 100%;
}

/* Estilos para el logo */
.logo-img {
  height: 50px;
  width: 50px;
}

/* Estilos para la barra de navegación */
.navbar {
  background-color: #b68c6e !important;
}

.navbar-nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

/* Prevenir superposición vertical de íconos */
.navbar-nav .nav-item {
  margin-right: 15px; /* Espacio entre los íconos */
}

.navbar-brand {
  margin-right: auto;
}

.navbar-collapse {
  text-align: center;
}

/* Formulario de búsqueda */
form {
  margin-top: 5px !important;
}

.d-flex {
  width: 25%;
  margin-bottom: 10px;
}

main {
  margin-top: 15px;
}

/* Sección de "About Us" */
.about-us {
  background-color: white;
  padding-bottom: 10px; /* Ajuste para mayor espaciado */
}

.our-team {
  background-color: white;
  gap: 25px;
}

/* Títulos y párrafos */
h2 {
  font-family: "bespoke-sans-bold";
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  color: black;
}

h3 {
  font-family: "bespoke-sans";
  font-size: 1.5rem;
}

p {
  font-family: "Inter";
}

.subtitle {
  margin-top: 25px;
}

/* Estilos para las cartas */
.card {
  margin-top: 25px;
}

#third-card {
  margin-bottom: 25px;
}

/* Cartas de miembros del equipo */
.card-member {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.card-member img {
  width: 100px; /* Tamaño de imagen fijo */
  height: auto;
  margin-right: 15px;
}

/* Carrusel */
#carouselExampleFade {
  margin-left: 10%;
  margin-right: 10%;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #000;
  padding: 10px;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .navbar-nav {
    margin-left: auto;
    margin-right: auto;
  }

  .navbar-brand {
    margin-right: auto;
  }

  .navbar-collapse {
    text-align: center;
  }

  .d-flex {
    width: 100%;
    margin-bottom: 10px;
  }

  .card-member {
    flex-direction: column;
    text-align: center;
  }

  .card-member img {
    margin-bottom: 10px;
    margin-right: 0;
  }
}