@import url("../../../components/footerLogIn/footer.css");
@font-face {
    font-family: bespoke-sans-bold;
    src: url(/assets/fonts/BespokeSans_Complete/Fonts/OTF/BespokeSans-Bold.otf);
}
  
@font-face {
    font-family: bespoke-sans;
    src: url(/assets/fonts/BespokeSans_Complete/Fonts/OTF/BespokeSans-Regular.otf);
}

body ,html
{   
    background-color: #f7eed9 ;
    margin: 0;
    padding: 0;
    height: 82.2vh;
    min-height: fit-content;
    min-width:fit-content; 
}

main{
    
    transition: background-image 1.5s linear; 
    background-size:cover;
    background-repeat: no-repeat;
    text-align: center;
    
}

.card {
   
    background-color: rgba(255, 255, 255, 0.555); /* Fondo semi-transparente */
    min-height: 82.2vh;
}
.card-body
{
    padding: 50px;
}

.button-container{
    margin-top: auto;
    padding: 8%;
}
.card-title{padding: 20px;}
.card-text{padding: 20px;}

.btn
{
    background-color: #b68c6e;
    border:1px solid black ;
} 
.button-container a:hover
{
  background-color:burlywood;
  color:#b68c6e ;
}