@import url("../../../components/footerLogIn/footer.css");
@font-face {
    font-family: bespoke-sans-bold;
    src: url(/assets/fonts/BespokeSans_Complete/Fonts/OTF/BespokeSans-Bold.otf);
}
  
@font-face {
    font-family: bespoke-sans;
    src: url(/assets/fonts/BespokeSans_Complete/Fonts/OTF/BespokeSans-Regular.otf);
}

body 
{   
    background-color: #f7eed9 ;
    text-align: center;
    margin: 0;
    display: flex;
    min-height: 90vh;
    max-height: 100vh;
    transition: background-image 3s linear; 
    background-size:100%;
    background-repeat: no-repeat;
    text-align: center;
}

article
{   
    flex-direction: column;
    min-height: 100vh;
    padding: 2%;
    gap: 50px;
    width: 60vw;
    font-family: bespoke-sans;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    color:white;
}
aside
{
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}
aside img
{
    transform: scale(1);
    border: solid #b68c6e;
    border-radius: 30px;
    padding: 2%;
}
h1
{
    font-size: 7rem;
}
h4
{
    font-size: 2.5rem;
}




