@import url("../../../components/footerLogIn/footer.css");
@import url("../../../components/navbarSesionIniciada/navbarSesionIniciada.css");


@font-face {
    font-family: bespoke-sans-bold;
    src: url(/Wanderlust/assets/fonts/BespokeSans_Complete/Fonts/OTF/BespokeSans-Bold.otf);
}
  
@font-face {
    font-family: bespoke-sans;
    src: url(/Wanderlust/assets/fonts/BespokeSans_Complete/Fonts/OTF/BespokeSans-Regular.otf);
}






main{
  background-color: #f7eed9;
  overflow: hidden;
}

/*Izquierda-publicidad*/

.btn-real{
  color: white;

}

/*Newcard y zona de publicación*/
/* Estilos de la caja de publicación*/
#container-next{
  padding-bottom: 15px;

}

#open-form-btn {
  margin-bottom: 15px;
  transition: box-shadow 0.6s ;
}

#open-form-btn:hover {
  box-shadow: 0 0 15px #4a4a4a;
  
}

.compact-form {
  background-color: #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: left;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050; /* Mayor que el z-index de Bootstrap navbar */
}

.modal.hidden {
  display: none;
}

.modal-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

form label {
  display: block;
  margin: 10px 0 5px;
}

form input, 
form textarea, 
form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #c2b1a5;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

form button:hover {
  background-color: #4a4a4a;
}

.hidden {
  display: none;
}

#star-rating {
  display: flex;
  flex-direction: row-reverse; /* Invertir el flujo visual */
  justify-content: flex-start;
}

#star-rating input {
  display: none; /* Oculta los botones de radio */
}

#star-rating label {
  font-size: 24px;
  color: #ccc; /* Color de estrellas no seleccionadas */
  cursor: pointer;
  padding: 0 5px;
}

#star-rating input:checked ~ label {
  color: #ffc107; /* Estrellas seleccionadas */
}

#star-rating label:hover,
#star-rating label:hover ~ label {
  color: #ffc107; /* Cambia el color al pasar el ratón */
}

form label {
  display: block;
  margin: 10px 0 5px;
}

form input, form textarea, form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #4a4a4a;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

form button:hover {
  background-color: #c2b1a5;
}


.iconoPublicacion{
 
 display: flex;
 align-items: center;
 padding-bottom: 5px;
}

.box-publi{ 
  width: 100%; 
  max-width: 710px; 
  margin: auto; 
  padding: 20px; 
  
  border: 1px solid #ccc; 
  border-radius: 20px; 
  background-color: #f9f9f9; 
} 

.box-publi h2{ 
  font-family: 'BespokeSans-MediumItalic';
  font-size: 15px;
  text-align: left;
  color: black;;
  text-align: left; 
  margin-bottom: 10px; 
} 

.box-publi form{ 
  display: flex; 
  flex-direction: column; 
} 

.box-publi textarea{ 
  width: 100%; 
  height: 100px; 
  padding: 10px; 
  margin-bottom: 10px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  font-size: 16px; 
  resize: none; 
} 

.button-publi{
  font-family: "Inter";
  font-size: 15px;
  font-weight: bold;
  background-color: #fff;
  border: 2px solid #d5a86d;
  border-radius: 30px;
  color: #333;
  padding: 5px 20px;
  text-align: center;
  display: flex;
  margin: 3px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.button-publi:hover {
  background-color:#c2b1a5;
  color: white;
  font-family: "Inter";
  font-weight: bold;
}

.bd-placeholder-img{
  width: 110px; 
  height: 96px;
}

/*card*/

.container{
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 15px;
}

.top_data{
  position: relative;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid black;
  object-fit: cover;
  margin-right: 5px;
}

.top_data svg{
  position: absolute;
  right: 5px;
  top: 10px;
}

.top_data svg path{
  fill: #000;
}

.profile_name{
  font-weight: bold;
  font-size: 15px;
  color: #000;
}

.calificacion{
  font-size: 12px;
  color: #919191;
}

.privacidad{
  font-size: 12px;
  color: #919191;
}


.post_description{
  width: 100%;
  padding: 0px 10px 10px 60px;
  font-size: 15px;
  color: #000;
}

.post{
  width: 100%;
  display: flex;
  padding: 0px 10px 10px 10px;
}

.options{
  width: 44px;
  padding: 0px 10px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}

.number{
  font-size: 11px;
}

.img_post{
  cursor: pointer;
  width: calc(100% - 44px);
  border-radius: 10px;
}

.heart_icon{
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  right: 40%;
  fill: #e010b3;
  display: none;
  opacity: 0;
  animation: heart 2s ease;
}

.likes, .coments, .save{
  text-align: center;
}

.likes .active_icon{
  fill: #e010b3;
}

.active_icon{
  display: none;
}

.active{
  display: inline-block;
}

svg:hover{
  cursor: pointer;
  transform: scale(1.2);
  transition: all .3s ease;
}

@keyframes heart {
  0%{
      opacity: 0;
      top: 100%;
      left: 40%;
  }

  50%{
      opacity: 1;
      top: 50%;
      left: 40%;
  }

  75%{
      opacity: 1;
      top: 50%;
      left: 40%;
      transform: scale(1.2) rotateY(180deg);
  }

  100%{
      opacity: 1;
      top: 50%;
      left: 40%;
      transform: scale(1.2) rotateY(180deg);
      opacity: 0;
  }
}

/*Zona de solicitudes*/

#profile-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 25px;
}

#photo-profile{
  border-radius: 50%;
  max-width: 60px;
  max-height: 60px;
  border: 5px solid black;
}

.btn{
  
  background-color: #d5a86d;
  color: white;
  font-weight: bold;
}

.btn:hover{
  border: 3px solid #4a4a4a;
}