@import url("../../../components/footerLogIn/footer.css");
@font-face {
    font-family: bespoke-sans-bold;
    src: url(/Wanderlust/assets/fonts/BespokeSans_Complete/Fonts/OTF/BespokeSans-Bold.otf);
}
  
@font-face {
    font-family: bespoke-sans;
    src: url(/Wanderlust/assets/fonts/BespokeSans_Complete/Fonts/OTF/BespokeSans-Regular.otf);
}

.form-floating {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  gap: 20px;
}



.container {
    display: flex; 
    width: 100%;
    max-width: 1200px; /* Limitar el ancho máximo */
    height: 100vh; /* Altura completa */
    justify-content: space-between;
   
  }

  .notificaciones{
   
    height: 50%;
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .contacto{
    background-color: #f7eed9 !important;
    height: 30%;
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .amigos{
   
    
    height: 50%;
    width: 300px;
    display: flex;
    flex-direction: row;

  }

  .footer-container{
    display: flex;
    flex-direction: column;
    
  }
  
  