@import url("../../../components/footerLogIn/footer.css");
@import url("../../../components/navbarSesionIniciada/navbarSesionIniciada.css");
@font-face {
    font-family: bespoke-sans-bold;
    src: url(/Wanderlust/assets/fonts/BespokeSans_Complete/Fonts/OTF/BespokeSans-Bold.otf);
}
  
@font-face {
    font-family: bespoke-sans;
    src: url(/Wanderlust/assets/fonts/BespokeSans_Complete/Fonts/OTF/BespokeSans-Regular.otf);
}



.form-floating {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  gap: 20px;
}

html{
  background-color: #f7eed9 ;
}

main{
  background-color: #f7eed9 ;
}

img{
  display: block;
  width: 100%;
  height: 100%;
}

.btn{
  display: inline-block;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 300ms ease;

}

/* .container {
  background-color: #f7eed9 ;
    display: flex; 
    width: 100%;
    max-width: 1200px; 
    height: 100vh; 
    justify-content: space-between;
    gap: 40px;
  } */

  .container{
    display: grid;
    grid-template-columns: 18vh auto 20vw;
    column-gap: 2rem;
    position: relative;
  }
  .notificaciones{
   
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .contacto{
   
    background-color: #f7eed9 !important;
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

 

  /* feeeeeddd */

  .medio{
    background-color: #f7eed9 ;
    gap: 15px;
  }

  .medio .crear_publicacion{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
  }

  #publicar{
    background-color: blue;
    align-items: center;
    color: white;
    width: 60px;
    height: 60px;
  }

  .medio .crear_publicacion input[type="text"]{
    justify-self: start;
    width: 100%;
    padding-left: 1rem;
    background-color: transparent;
    color: black;
    margin-right: 1rem;
  }

  .medio .publicaciones .publicacion{
    background-color: white;
    border-radius: 2rem;
    padding: 1rem;
    margin: 1rem 0;
    line-height: 1.5;
    align-items: center;
    justify-content: center;
    height: 100%;

  }

  
  .medio .head{
    display: flex;
    justify-content: space-between;
  }

  .medio .head .user{
    display: flex;
    gap: 1rem;
  }

  .medio .head .user .perfil{
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
  }
  

  .medio .botones-accion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.6rem;
   
  }

  .medio .likes{
    display: flex;
  }

  .medio .likes span{
    width: 1.4rem;
    height: 1.4rem;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid;
    margin-left: -0.6rem;
  }

  .medio .likes span:first-child{
    margin: 0;
  }

  .medio .likes p{
  margin-left: .5rem;
  }

  .perfil{  
    
    width: 2.7rem;
    aspect-ratio:1/1;
    border-radius: 100%;
    overflow: hidden;
   
  }

  
 #foto_viaje{
  width: 100%;
  border-radius: 1rem;
  margin: 0.7rem 0;
 }

 /* Derechaaaaa */
 main .container .derecha{
  height: max-content;
  position: sticky;
  top: -18rem;
  bottom: 0;
  
 }

 .derecha .mensajes{
  background-color: white;
  border-radius: 1rem;
   padding: 1rem; 
  
 }

 .derecha .mensajes .heading{
  display: flex;
  align-items: center; 
  justify-content: space-between;
  margin-bottom: 1rem;
   gap: 50%; 
  
 }

  .derecha .mensajes i{
  font-size: 1.2rem;
 
 } 

 .derecha .mensajes .search-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  background:rgb(206, 185, 185);
  margin-bottom: 1rem;
  
  width: 100%;
  padding: 0.6rem 1rem;

 }

 .derecha .mensajes .categoria{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  max-width: 100%;
  box-sizing: border-box;
  gap: 15px;
 }

 .derecha .mensajes .categoria h6{
  width: 100%;
  text-align: center;
  border-bottom: 4px solid white;
  padding-bottom: 0.5rem;

 }

 .derecha .mensajes .categoria .active{
  border-color: black;
 }

 .derecha .mensajes .mensaje{
  display:flex ;
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: start;
 }

 .derecha .mensajes .mensaje p{
  font-size: 0.8rem;
 }

.derecha .mensajes .perfil{
  position: relative;
  overflow: visible;
 } 

  .derecha .mensajes .perfil img{
border-radius: 50%;
width: 100%;
 } 

 .derecha .mensajes .perfil .active{
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  border: 3px solid;

  background-color: greenyellow;
  position: absolute;
  bottom: 0;
  right: 0;
 }

 /* Solicitudes */
 .derecha .solicitudes{
  margin-top: 1rem;
 }

 .derecha .solicitudes h4{
  color: gray;
  margin: 1rem 0;
 }

 .derecha .solicitudes .solicitud{
background-color: white;
padding: 1rem;
border-radius: 1rem;
margin-bottom: 0.7rem;

 }
 
 .derecha .solicitudes .info{

  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  justify-content: space-between;
  
 }

 
 .derecha .solicitudes .acciones-solicitud{
  display: flex;
  gap: 1rem;
 }