@import url('../../../components/footerLogIn/footer.css');
@import url('../../../components/navbar/navbar.css');

/* Definición de fuentes */
@font-face {
    font-family: bespoke-sans-bold;
    src: url(../../../assets/fonts/BespokeSans_Complete/Fonts/OTF/BespokeSans-Bold.otf);
}

@font-face {
    font-family: bespoke-sans;
    src: url(../../../assets/fonts/BespokeSans_Complete/Fonts/OTF/BespokeSans-Regular.otf);
}

body {
    background-color: #f7eed9 !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

form {
  border-radius: 10px;
  background-color: white;
  padding: 24px;
  margin: 24px;
  width: 60%;
  height: auto;
}

.main-content{
  margin-top: 80px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Títulos y párrafos */
h2 {
    font-family: "bespoke-sans-bold";
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    color: black;
  }

h3 {
    font-family: "bespoke-sans";
    font-size: 1.5rem;
  }

p {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
  }

  .btn-send {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    background-color: #4a4a4a;
    color: white;
    border: none;
    transition: background-color 0.4s;
}


.btn-send:hover {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    background-color: #d5a86d;
    color: black;
    
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .navbar-nav {
      margin-left: auto;
      margin-right: auto;
    }

    input, label, small {
      font-size: 0.75rem;
    }

    .d-flex {
      width: 100%;
      margin-bottom: 10px;
    }
}