@import url(../../Perfil/perfil-CSS/bespoke-sans.css);
@import url(../../../components/navbarSesionIniciada/navbarSesionIniciada.css);

/*
*#f7eed9
*#c2b1a5
*#b68c6e
*#d5a86d
*#4a4a4a
*/

/* ESTILOS GENERALES*/
body {
  background-color: #f7eed9;
  margin: 0;
  padding: 0;
}


.container {
  margin:  auto;
  background-color: #f7eed9;
  padding: 5px;
  border-radius: 18px;
  
}

h6{
  font-family: 'BespokeSans-mediumItalic';
  font-size: 1rem;
}

p{
  font-family: "Inter";
    font-size: 15px;
}

/* Imagen de perfil */

#perfil-photo{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  padding: 5px;

}

.profile-image {
  width: auto;
  height: 80px;
  border-radius: 25px;
  padding: 5px;
}

/* Configuración y barra de búsqueda */
.settings-tray {
  background-color: #d5a86d;
  border-radius: 15px;
  height: auto;
}

.settings-tray .nav {
  display: flex;
  align-items: center;
  list-style: none;
}

.settings-tray .nav-item {
  list-style: none;
}

.settings-tray .nav-link {
  padding: 0;
  display: flex;
  align-items: center;
}

.settings-tray .dropdown-toggle::after {
  display: none;
}

.settings-tray i {
  margin-top: 0;
  font-size: 25px;
  color: white;
  transition: .3s;
}

.settings-tray .bi-chat-fill {
  margin-right: 14px;
}

.settings-tray i:hover {
  color: #4a4a4a;
  cursor: pointer;
}

.search-bar {
  background-color: #d5a86d;
  border-radius: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.form-control {
  border-radius: 15px;
  margin-left: 8px;
}

/* Estilos para la lista de amigos */
.friend-list {
  
  max-height: 100vh;
}

.friend-drawer {
  background-color: white;
  padding: 0px;
  border-width: 5px;
  border-radius: 15px;
  display: flex;
  vertical-align: baseline;
  transition: .3s ease;
  margin-bottom: 10px;
}

.friend-drawer--grey {
  background-color: #d5a86d;
  padding-right: 5px;
  display: flex;
}

.friend-drawer .text {
  margin-left: 12px;
  width: 70%;
}

.friend-drawer .text h6 {
  margin-top: 6px;
  margin-bottom: 0;
  font-size: 1.2rem;
}

.friend-drawer .text p {
  margin: 0;
  font-size: 1rem;
}

.friend-drawer .time {
  color: grey;
}

.friend-drawer--onhover:hover {
  background: #c2b1a5;
  cursor: pointer;
}

.friend-drawer--onhover:hover p,
.friend-drawer--onhover:hover h6,
.friend-drawer--onhover:hover .time {
  color: white !important;
}

hr {
  margin: 5px auto;
  width: 60%;
}

/* Panel de chat */
.col-md-8 {
  padding-right: 15px;
}
.insertMessages
{
  
  
 
  
}
.chat-panel {
   overflow-y: auto;
   overflow-x: hidden;
  border-radius: 15px;
  padding: 10px 20px;
  background-color: white;
  max-height: 550px;
 
}

.chat-bubble {
  padding: 10px 14px;
  background: #c2b1a5;
  margin: 8.3px 30px;
  border-radius: 9px;
  position: relative;
  animation: fadeIn 1s ease-in;
  min-width: 100px;
}

.chat-bubble::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom: 0;
  margin-top: -10px;
}

.chat-bubble--left::after {
  left: 0;
  border-right-color: #c2b1a5;
  border-left: 0;
  margin-left: -20px;
}

.chat-bubble--right::after {
  right: 0;
  border-left-color: #4a4a4a;
  border-right: 0;
  margin-right: -20px;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

/* Ajuste para mensajes del usuario */
.offset-md-9 .chat-bubble {
  background: #4a4a4a;
  color: #fff;
}

/* Caja de entrada del chat */
.chat-box-tray {
  background: #d5a86d;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  width: 100%;
}

.chat-box-tray input {
  border-radius: 15px;
  border-color: #4a4a4a;
  flex-grow: 1;
  margin: 0 10px;
  padding: 6px;
}

.chat-box-tray i {
  color: white;
  font-size: 30px;
  vertical-align: middle;
}

.chat-box-tray i:last-of-type {
  margin-left: 25px;
}
  